body{
    font-family: 'Open Sans', sans-serif;
}


.banner-container{
    background-color: #CACACA;
}
.banner-colum{
    background-color: #8D8D8D;
}


.navbar-container{
    top: 0;
    background-color: #262B37;
    position: sticky;
    z-index: 5;
}


.about-container{
    background-color: #00BDBD;
}


.education-container{
    background-color: #EEEEEE;
    padding-bottom: 20px;
}
.education-color{
    color: #E6706A;
}
.circle{
    background-color: #E6706A;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.edu-card{
    margin-top: 23px;
}
.text-align-justify{
    text-align: justify;
}


.project-container{
    background-color: #02A4F9;
    padding-bottom: 20px;
}

.img-thumbnail-color{
    background-color: #EEEEEE;
}
.text-decoration{
    text-decoration: none;
}

.portfolio-color{
    color: #E6706A;
}



.contact-container{
    background-color: #474D5D;
}
.margin{
    margin-right: 3px;
}


.inner-form{
    background-color: #585f73;
}


.btncolour{
    background-color:#E6706A ;
}
.btncolour:hover{
    color: black!important;
}


.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
}


.footer{
    background-color: #02A4F9;
}

